@define-color bg_dark #16161e;
@define-color cyan #7dcfff;
@define-color magenta #bb9af7;
@define-color orange #ff9e64;
@define-color green #9ece6a;
@define-color black #15161e;
@define-color gray #414868;
@define-color red #f7768e;

* {
	font-family: "Monocraft", "monospace";
	font-size: 10pt;
	border: none;
	margin: 0;
	padding: 0;
}

window#waybar {
	background-color: @bg_dark;
}

#custom-kbd-backlight, #backlight, #pulseaudio, #custom-net {
	color: @cyan;
	padding: 0 6px;
}

#cpu, #temperature, #memory, #custom-gpu-profile {
	color: @green;
	padding: 0 6px;
}

#custom-sep-gray {
	color: @gray;
	background-color: @bg_dark;
	font-size: 13pt;
}

#custom-sep-orange {
	color: @orange;
	background-color: @bg_dark;
	font-size: 13pt;
}

#custom-sep-green {
	color: @magenta;
	background-color: @orange;
	font-size: 13pt;
}

#custom-fan-profile, #battery {
	background-color: @orange;
	color: @black;
	padding: 0 4px;
}

#clock {
	background-color: @magenta;
	color: @black;
	padding: 0 10px;
}

#workspaces button {
	background-color: @gray;
	color: @white;
	border-radius: 0px;
	padding: 0 4;
}

#workspaces button.empty {
	color: #6a6a8a;
}

#workspaces button.active {
	background-color: @magenta;
	color: @black;
	padding: 0 6;
}

#workspaces button.urgent {
	background-color: @red;
	color: @black;
	padding: 0 6;
}

#battery.critical, #cpu.critical, #memory.critical, #temperature.critical, #pulseaudio.muted {
	background-color: @red;
	color: @black;
}
