[Desktop Entry]
Name=Steam
Comment=Application for managing and playing games on Steam
Exec=prime-run /usr/bin/steam %U
Icon=steam
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
MimeType=x-scheme-handler/steam;x-scheme-handler/steamlink;
Actions=Store;Community;Library;Servers;Screenshots;News;Settings;BigPicture;Friends;
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true

[Desktop Action Store]
Name=Store
Exec=prime-run /usr/bin/steam steam://store

[Desktop Action Community]
Name=Community
Exec=prime-run /usr/bin/steam steam://url/CommunityHome/

[Desktop Action Library]
Name=Library
Exec=prime-run /usr/bin/steam steam://open/games

[Desktop Action Servers]
Name=Servers
Exec=prime-run /usr/bin/steam steam://open/servers

[Desktop Action Screenshots]
Name=Screenshots
Exec=prime-run /usr/bin/steam steam://open/screenshots

[Desktop Action News]
Name=News
Exec=prime-run /usr/bin/steam steam://openurl/https://store.steampowered.com/news

[Desktop Action Settings]
Name=Settings
Exec=prime-run /usr/bin/steam steam://open/settings

[Desktop Action BigPicture]
Name=Big Picture
Exec=prime-run /usr/bin/steam steam://open/bigpicture

[Desktop Action Friends]
Name=Friends
Exec=prime-run /usr/bin/steam steam://open/friends
